@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .filme-principal{
        background-position: 40% 50%;
    }

    .botao{
        margin-top: 5px;
        width: 250px;
    }

    .descricao{
        width: 75%;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}